<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179045805700-11e4kg9dbnohlt45vj75p2l9seiho95h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179045805700-11e4kg9dbnohlt45vj75p2l9seiho95h</string>
	<key>API_KEY</key>
	<string>AIzaSyAWbiGQ5HJQBbVIC-kVizTz3XyPszaTwbY</string>
	<key>GCM_SENDER_ID</key>
	<string>179045805700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>fir-project-74a42</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-74a42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179045805700:ios:9dd870fa9db66550e25cd1</string>
</dict>
</plist>